$breakPoints:(
"phone":360px,
"tablet": 768px,
"desktop": 1366px,
"LGdesktop": 1920px
);


.interface{
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    #quote-box{
        display: flex;
        flex-direction: column;
        background-color: beige;
        padding: 15px;
        margin-top: 20px;
        align-items: center;
       @media (max-width:768px) {
        width: 40%;
        height: max-content;
        justify-content: space-between;
       }
        #text{
                text-align: center;
                width: 450px;
                @media (max-width:768px) {
                    width: 100%;
                    height: max-content;
                 }
            span{                
                font-weight: 500;
                font-size:x-large;
                @media (max-width:768px) {
                    width: 100%;
                    // height: 100%;
                    font-size:small;
                    font-weight: 500;
                }
            }
            svg{
                color:palevioletred ;
                @media (max-width:768px) {
                    font-size: xx-small;;
                }
            }
        }
        #author{
            padding-top: 20px;
            font-size:small;
            text-align: right;
            padding-bottom: 10px;
            @media (max-width:768px) {
                padding-top: 5px;
                font-size:xx-small;
                padding-bottom: 5px;
            }
        }
        #button-box{
            width: 450px;
            @media (max-width:768px) {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: flex-end;
                gap: 5px;
            }
            #new-quote{
                background-color: palevioletred;
                float: right;
                border: none;
                border-radius: 3px;
                height: 38px;
                width: 100px;
                cursor: pointer;  
                color: white;    
                @media (max-width:768px) {
                    width: 70px;
                    height: 25px;
                    font-size: x-small;
                }  
            }
            
            #tweet-quote{
                float: left;
                padding-top: 8px;
                text-align: center;
                height: 30px;
                width: 40px;
                color: white;
                border: 1px solid palevioletred;
                background-color: palevioletred;
                cursor: pointer;    
                border-radius: 3px;
                @media (max-width:768px) {
                    height: 20px;
                    width: 25px;
                    padding-top: 3px;
                    font-size: small;
                }      

            }
        }
    }
    .footer{
        text-align: center;
        color: white;
        margin-top: 10px;
        @media (max-width:768px) {
            font-size: x-small;
        }
    }
    
}

