.interface{
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    #quote-box{
        display: flex;
        flex-direction: column;
        background-color: beige;
        padding: 15px;
        margin-top: 20px;
        align-items: center;
        #text{
                text-align: center;
                width: 450px;
            span{                
                font-weight: 500;
                font-size:x-large;
            }
            svg{
                color:palevioletred ;
            }
        }
        #author{
            padding-top: 20px;
            font-size:small;
            text-align: right;
            padding-bottom: 10px;
        }
        #button-box{
            width: 450px;
            #new-quote{
                background-color: palevioletred;
                float: right;
                border: none;
                border-radius: 3px;
                height: 38px;
                width: 100px;
                cursor: pointer;  
                color: white;    
            }
            
            #tweet-quote{
                float: left;
                padding-top: 8px;
                text-align: center;
                height: 30px;
                width: 40px;
                color: white;
                border: 1px solid palevioletred;
                background-color: palevioletred;
                cursor: pointer;    
                border-radius: 3px;
            }
        }
    }
    .footer{
        text-align: center;
        color: white;
        margin-top: 10px;
    }
}


@media (max-width:768px) {
    .interface{
        background-color: palevioletred;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        justify-content: center;
        #quote-box{
            display: flex;
            flex-direction: column;
            background-color: beige;
            padding: 15px;
            margin-top: 20px;
            align-items: center;
            width: 70%;
            height: max-content;
            justify-content: space-between;
            #text{
                text-align: center;
                width: 100%;
                height: max-content;
                span{
                    width: 100%;
                    font-size:small;
                    font-weight: 500;
                }
                svg{
                    color:palevioletred ;
                    font-size: xx-small;
                }

            }
            #author{
                padding-top: 5px;
                font-size:xx-small;
                padding-bottom: 5px;
                text-align: right;
            }
            #button-box{
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 5px;
                align-items: center;
                #new-quote{
                    background-color: palevioletred;
                    float: right;
                    border: none;
                    border-radius: 3px;
                    cursor: pointer;  
                    color: white; 
                    width: 65px;
                    height: 25px;
                    font-size: x-small;
                }
                #tweet-quote{
                    height: 20px;
                    width: 65px;
                    padding-top: 3px;
                    font-size: small;
                    float: left;
                    text-align: center;
                    color: white;
                    border: 1px solid palevioletred;
                    background-color: palevioletred;
                    cursor: pointer;    
                    border-radius: 3px;

                }
            }
        }
        .footer{
            text-align: center;
            color: white;
            margin-top: 10px;
            font-size: x-small;
        }
}}
